body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #ff5722;
    color: white;
    padding: 20px;
    text-align: center;
}

h1,
h2 {
    margin: 10px 0;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    background-color: #eeeeee;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.team-member:hover {
    background-color: #dddddd;
}

.details {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.details>* {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff5722;
    color: white;
    position: relative;
}